body {
    background-color: lightgreen;

}
.container {
    max-width: 600px;
    margin: 100px auto;
}
header {
    
}
.form-container {
    background: white;
    padding: 20px;
    border-radius: 10px;

}
.form-container .form-input {
    border: 1px solid lightgreen;
    padding: 15px;
    border-radius: 30px;
    width: 70%;
}
.form-container .form-submit {
    color: white;
    padding: 15px;
    border-radius: 30px;
    border: none;
    background: lightgreen;
  
}
h1 {
    font-family: "Playfair", serif;
    font-weight: 800;
    text-align: center;
    font-size: 40px;
}
.form-output {
    padding: 15px;
    background: white;
    margin-top: 15px;
    border-left: 1px solid lightgreen;
    border-radius: 15px;
}