:root {
    --brand-color: #138013;
}
body {
    background-color: #cdfacd;

}
.container {
    max-width: 600px;
    margin: 100px auto;
}
header {
    
}
.form-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    

}
.form-container .form-input {
    border: 1px solid var(--brand-color);
    padding: 15px;
    border-radius: 30px;
    width: 70%;
}
.form-container .form-submit {
    color: white;
    padding: 15px;
    border-radius: 30px;
    border: none;
    background: var(--brand-color);
    cursor: pointer;
}
h1 {
    font-family: "Playfair", serif;
    font-weight: 800;
    text-align: center;
    font-size: 40px;
}
.form-output {
    padding: 15px;
    background: white;
    margin-top: 15px;
    border-left: 3px solid var(--brand-color);
    border-radius: 1px;
}
footer {
    text-align: center;
}
footer a {
    color: var(--brand-color);
    cursor: pointer;
}
@media (max-width: 900px) {
    .form-container {

    }
    .form-container .form-input {
        padding: 10px;
    }
    .form-container .form-submit {
        padding: 10px;
    }
}